:root {
  --fg: #F2F0EB;
  --bg: #191817;
}

body > div > div > div > div {
  background-color: var(--bg);
  color: var(--fg);
}

body > div > div > div {
  max-width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
  text-align: center;
}

body > div > div > div[class*="-Presenter"] {
  max-width: unset;
}

a {
  color: #E05555;
}

ul {
  text-align: left;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0.25em 0.5em;
  font-size: 0.75em;
}

th {
  background-color: silver;
  color: black;
  border: 1px solid black;
}

td {
  border: 1px solid silver;
  text-align: center;
}

td:first-child {
  text-align: left;
}
